---
name: Build

on:
  push:
    branches: [master]
  pull_request:

jobs:
  lint:
    name: Run linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v1
      - uses: actions/setup-python@v1
      - name: set PY
        run: |
          echo "::set-env name=PY::$(python -c 'import hashlib, sys; print(
          hashlib.sha256(
          sys.version.encode()+sys.executable.encode()
          ).hexdigest())')"
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pre-commit
          key: |
            pre-commit |
            ${{ env.PY }} |
            ${{ hashFiles('.pre-commit-config.yaml') }}
      - uses: pre-commit/action@v1.1.0

  build:
    name: Build and test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [1.14, 1.13]
        os: [ubuntu-latest, macOS-latest]
    steps:
      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go_version }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: go mod download

      - name: Build
        uses: crazy-max/ghaction-mage@v1
        with:
          version: latest
          args: -v build

      - name: Test
        uses: crazy-max/ghaction-mage@v1
        with:
          version: latest
          args: -v coverage

      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: tests/coverage/coverage.out
