---
name: Build

on:
  push:
    branches: [main, release-*]
  pull_request:

jobs:
  build:
    name: Build and test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [stable, oldstable]
        os: [ubuntu-latest, macOS-latest]
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v2.3.4
        with:
          fetch-depth: 0

      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v2.1.4
        with:
          go-version: ${{ matrix.go_version }}
          cache: true
        id: go

      - name: Get dependencies
        run: go mod download

      - name: Build
        run: make build

      - name: Test
        run: make test-report

      - name: Send coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v2.1.0
        with:
          file: ./reports/coverage.out
          flags: unittests,${{ matrix.os }}
