---
name: golangci-lint

on:
  push:
    branches: [main, release-*]
  pull_request:

jobs:
  lint:
    name: Run golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a
        with:
          go-version: stable
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v2.3.4
      - name: Lint with golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
