---
name: Tag

on:
  push:
    branches: [main, release-*]

jobs:
  tag:
    name: Tag release commit
    if: "startsWith(github.event.commits[0].message, 'release: ')"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v2.3.4
        with:
          fetch-depth: 0

      - name: Tag commit
        run: |
          make bin/gotagger
          bin/gotagger -push
